.elementor-35020 .elementor-element.elementor-element-1df31833 .trx_addons_bg_text{z-index:0;}.elementor-35020 .elementor-element.elementor-element-1df31833 .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element{padding-right:50px;}.elementor-35020 .elementor-element.elementor-element-1df31833 .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element{padding-left:50px;}.elementor-35020 .elementor-element.elementor-element-1df31833{margin-top:-126px;margin-bottom:0px;}/* Start custom CSS for shortcode, class: .elementor-element-06af3b7 */.elementor-35020 .elementor-element.elementor-element-06af3b7 .df-ui-nav .df-ui-btn:before {
    color: #fff;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}

.elementor-35020 .elementor-element.elementor-element-06af3b7 .df-ui-nav {
    font-size: 36px;
}

.elementor-35020 .elementor-element.elementor-element-06af3b7 .df-float .df-ui{
    bottom: 0px;
}/* End custom CSS */